<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %>
    <title>Document</title>
</head>
<body>
    <%- include('partials/navegacion') %>
    <section class="home">
        <form action="submit">
            <input type="text">
            <button type="submit">Ingresar</button>
        </form>
        <thead>
            <tr>
                <td>hola</td>
                <td>hola</td>
                <td>hola</td>
                <td>hola</td>
            </tr>
        </thead>
    </section>
</body>
</html>