<nav class="sidebar close">
    <header>
        <div class="image-text">
            <span class="image">
                <img src="/img/ccap_logo.jpg" alt="">
            </span>
            <div class="text header-text">
                <span class="name">CCAP</span>
            </div>
        </div>
        <i class='bx bx-chevron-right toggle'></i>
    </header>

    <div class="menu-bar">
        <div class="menu">
            <a class="search-box">
                <!-- <i class='bx bx-search icon' ></i>
                <input type="text" placeholder="Buscando..."> -->
                </a>
            <ul class="menu-links">
                <!-- <li class="nav-link">
                    <a href="#">
                        <i class='bx bx-home icon'></i>
                        <span class="text nav-text">Inicio</span>
                    </a>
                </li> -->
                <li class="nav-link">
                    <a href="/">
                        <i class='bx bx-folder-plus icon'></i>
                        <span class="text nav-text">Registrar estudiantes</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="/registro">
                        <i class='bx bx-food-menu icon'></i>
                        <span class="text nav-text">Menu</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="/facturas">
                        <i class="bi bi-receipt-cutoff icon"></i>
                        <span class="text nav-text">Historial</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="bottm-content">
            <li class="mode">
                <div class="moon-sun">
                    <i class="bx bx-moon icon moon"></i>
                    <i class="bx bx-sun icon sun"></i>
                </div>
                <span class="mode-text text">Modo Oscuro</span>
                <div class="toggle-switch">
                    <span class="switch"></span>
                </div>
            </li>
        </div>
    </div>
</nav>
<script src="/js/navbar.js"></script>
